/* CORE ELEMENTS */
html, body, article, aside, header, footer {
	width: 100%;
	line-height: 1.2;
	color: #212222;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	font: 18px 'Humanst521 BT';
	text-align: center;
}

h1 {
	margin: 20px 0 12px 0;
	padding: 0;
	font: 36px 'Tragan Pro';
	text-shadow: 1px 1px 1px #cccccc;
}

h2 {
	margin: 20px 0 12px 0;
	padding: 0;
	font: 24px 'Open Sans Bold';
}

p {
	margin: 0 0 12px 0;
}

a {
	-moz-transition: color .5s linear;
	-webkit-transition: color .5s linear;
	transition: color .5s linear;
	text-decoration: none;
}

.article-content p a {
	font-family: 'Humanst521 BT Bold';
}

#site-container {
	position: relative;
	min-width: 800px;
	max-width: 1100px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	text-align: left;
}

#site-header {
	position: relative;
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
	color: #ffffff;
}

#site-header a {
	display: inline-block;
	color: #ffffff;
}

#site-identity {
	position: absolute;
	top: 10px;
	left: 20px;
	text-align: left;
}

#site-title {
	width: 100%;
	font: bold 36px 'Tragan Pro';
	text-shadow: 2px 2px 2px #000000;
}

#site-byline {
	width: 100%;
	font: 18px 'Humanst521 BT Bold';
	text-shadow: 1px 1px 2px #000000;
}

#article-title {
	position: absolute;
	top: 154px;
	bottom: 154px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	font: 72px 'Tragan Pro';
	text-shadow: 2px 2px 2px #000000;
	text-align: center;
}

#header-login {
	position: absolute;
	width: 100%;
	float: right;
	bottom: 0;
	padding: 8px 0;
	font: 18px 'Open Sans Bold';
	background-color: #8a8a8a;
	text-align: right;
	z-index: 1;
}

input[type="text"], input[type="password"] {
	width: 120px;
	height: 18px;
	margin-right: 15px;
	padding: 2px 5px;
	font: 15px 'Open Sans'
	color: #000000;
	border: 1px solid #8a8a8a;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	cursor: pointer;
	padding: 2px 5px;
	font: 15px 'Open Sans Bold';
	color: #000000;
	background-color: #cccccc;
	border: 1px solid #8a8a8a;
}

#button-login {
	padding: 0 15px 0 15px;
	font-family:'Open Sans'
}

#nav-primary-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #000000;
	text-align: center;
	z-index: 2;
}

#nav-primary-menu ul {
	margin: 0;
	padding: 0;
	font: 18px 'Humanst521 BT Light';
	list-style-type: none;
	white-space: nowrap;
}

#nav-primary-menu li {
	position: relative;
	display: inline-block;
	float: left;
	-moz-transition: background .5s linear;
	-webkit-transition: background .5s linear;
	transition: background .5s linear;
}

.menu-items {
	float: right;
}
.menu-items li {
	height: 44px;
	margin: 0;
	padding: 0;
}
.menu-items a {
	padding: 10px 15px;
}
.menu-icons {
	float: left;
}
.menu-icons li {
	width: 24px;
	height: 24px;
	margin: 10px 10px;
	padding: 0;
}
.menu-icons a {
	width: 100%;
	height: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-moz-transition: opacity .5s linear;
	-webkit-transition: opacity .5s linear;
	transition: opacity .5s linear;
}
.menu-icons a:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

#nav-primary-menu li:hover ul {
	display: inline-block;
}

#nav-primary-menu a {
	display: inline-block;
}

ul.nav-secondary-menu {
	position: absolute;
	top: 44px;
	right: 0;
	background-color: #000000;
	text-align: left;
	display: none;
}

ul.nav-secondary-menu li {
	width: 100%;
	border-top: 1px solid #cccccc;
}

ul.nav-secondary-menu a {
	width: 100%;
}

#site-content {
	float: left;
	width: calc(100% - 270px);
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 18px;
}

.article-information p {
	margin: 0 0 6px 0;
	font: 80% 'Humanst521 BT Light';
}

.author, .contributors, .published, .updated, .tags {
	display: inline-block;
	width: 120px;
	font-family: 'Humanst521 BT Bold';
}

#site-widgets-right {
	float: left;
	width: 250px;
	margin-left: 20px;
}

.widget-right {
	width: 226px;
	height: 200px;
	margin: 0 0 20px 0;
	padding: 10px;
	background-color: #e7e7e7;
	border: 2px solid #5a5a5a;
}

#site-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 40px);
	margin: 0;
	padding: 0 20px 0 20px;
	color: #ffffff;
	clear: both;
}

#site-widgets-footer {
	float: left;
	width: 100%;
	padding: 20px 0;
	font-family: 'Open Sans'
	color: #ffffff;
}
.widget-footer-col-1 {
	float: left;
	width: calc(50% - 42px);
	padding: 10px 20px;
	color: #ffffff;
	background: transparent;
	border-right: 2px solid #ffffff;
}
.widget-footer-col-2 {
	float: left;
	width: calc(25% - 41px);
	padding: 10px 20px;
	color: #ffffff;
	border-right: 1px solid #ffffff;
}
.widget-footer-col-3 {
	float: left;
	width: calc(25% - 41px);
	padding: 10px 20px;
	color: #ffffff;
	border-left: 1px solid #ffffff;
}

#site-endline {
	width: 100%;
	margin: 0;
	padding: 10px 0 10px 0;
	font-family: 'Open Sans Bold';
	text-align: center;
	clear: both;
}

.action-login, .logout {
	cursor: pointer;
}
.clear {
	clear: both;
}
.hidden, .menu-icons span {
	display: none;
}

.page-1 { background: url('../images/backgrounds/background-0001.jpg') 0 0/100% 100%; }
.page-2 { background: url('../images/backgrounds/background-0210.jpg') 0 0/100% 100%; }
.page-3 { background: url('../images/backgrounds/background-1701.jpg') 0 0/100% 100%; }
.page-4 { background: url('../images/backgrounds/background-0509.jpg') 0 0/100% 100%; }
.page-5 { background: url('../images/backgrounds/background-0201.jpg') 0 0/100% 100%; }
.page-6 { background: url('../images/backgrounds/background-1051.jpg') 0 0/100% 100%; }

.menu-lotro-grey { background: url('../images/sprites/sprite-menu.png') 0 0; }
.menu-lotro-color { background: url('../images/sprites/sprite-menu.png') -24px 0; }
.menu-twitter-grey { background: url('../images/sprites/sprite-menu.png') 0 -24px; }
.menu-twitter-color { background: url('../images/sprites/sprite-menu.png') -24px -24px; }
.menu-youtube-grey { background: url('../images/sprites/sprite-menu.png') 0 -48px; }
.menu-youtube-color { background: url('../images/sprites/sprite-menu.png') -24px -48px; }

.text-red, .links-red a {
	color: #c41e3a;
}
.text-orange, .links-orange a {
	color: #ee7f2d;
}
.text-yellow, .links-yellow a {
	color: #daa520;
}
.text-green, .links-green a {
	color: #228b22;
}
.text-blue, .links-blue a {
	color: #0f52ba;
}
.text-purple, .links-purple a {
	color: #7851a9;
}
.text-violet, .links-violet a {
	color: #ba55d3;
}
.text-grey, .links-grey a {
	color: #a4a4a4;
}
.text-white {
	color: #ffffff;
}
.text-black {
	color: #000000;
}

.links-red a:hover {
	color: #f6506c;
}
.links-orange a:hover {
	color: #ffa755;
}
.links-yellow a:hover {
	color: #ffcd48;
}
.links-green a:hover {
	color: #54bd54;
}
.links-blue a:hover {
	color: #4b8ef6;
}
.links-purple a:hover {
	color: #aa83db;
}
.links-violet a:hover {
	color: #e27dfb;
}
.links-grey a:hover {
	color: #cccccc;
}

.background-red, .background-hover-red:hover { 
	background-color: #c41e3a;
}
.background-orange, .background-hover-orange:hover {
	background-color: #ee7f2d;
}
.background-yellow, .background-hover-yellow:hover {
	background-color: #daa520;
}
.background-green, .background-hover-green:hover {
	background-color: #228b22;
}
.background-blue, .background-hover-blue:hover {
	background-color: #0f52ba;
}
.background-purple, .background-hover-purple:hover {
	background-color: #7851a9;
}
.background-violet, .background-hover-violet:hover {
	background-color: #ba55d3;
}
.background-white, .background-hover-white:hover {
	background-color: #ffffff;
}
.background-grey, .background-hover-grey:hover {
	background-color: #8a8a8a;
}
.background-black, .background-hover-black:hover {
	background-color: #000000;
}

.icon-lotro-white { background: url('../images/sprites/sprite-menu.png') 0 0; }
.icon-lotro-grey { background: url('../images/sprites/sprite-menu.png') -24px 0; }
.icon-lotro-color { background: url('../images/sprites/sprite-menu.png') -48px 0; }
.icon-twitter-white { background: url('../images/sprites/sprite-menu.png') 0 -24px; }
.icon-twitter-grey { background: url('../images/sprites/sprite-menu.png') -24px -24px; }
.icon-twitter-color { background: url('../images/sprites/sprite-menu.png') -48px -24px; }
.icon-youtube-white { background: url('../images/sprites/sprite-menu.png') 0 -48px; }
.icon-youtube-grey { background: url('../images/sprites/sprite-menu.png') -24px -48px; }
.icon-youtube-color { background: url('../images/sprites/sprite-menu.png') -48px -48px; }